.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 5%;  
    background-color: var(--dark-purple);
}

@media screen and (max-width: 767px) {
    .head {
        flex-direction: column;  
        gap: 45px;    
    }
}